@charset "utf-8";
/* Style for the poolgame */
body{
	background-color:#026809;
	color:#fff;	
	overflow:hidden;
}
#gameCanvas, #scoreboard,#speedmeter, #speedborder, #pottedBalls{
	position: absolute;
}

#gameCanvas {
	margin-left:159px;
	margin-top:159px;
	 display: block;
 }


.main {width:1517px;height:1126px;margin:0 auto; margin-top:-100px;
background-image:url(../img/background.png);}

h2 {
	color:#fff;
	margin-left:70px;
}
.scores{
	padding:20px;
}
.inner p {
	font-family:"Courier New", Courier, monospace;
	font-size:20px;
	font-style:oblique;
	
	}
.inner{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
	width:370px;
	height:720px;
	border:thin;
	border-color:#fff;
	border-style:dashed;
	margin:0 auto;

}

.logo{
	position:relative;
	margin:0 auto;
	background-image:url(../img/logo.png);
	margin-top:5px;
	height:80px;
	width:433px;
}
.menu{position:fixed; padding-left:50px;}
.button{
	text-align:center;
	float:left;
	margin-left:8px;
	width:120px;
	height:50px;
	padding-top:20px;
	padding-bottom:10px;
	background-color:#090;
	color:#fff;	
	border: 2px dashed;
    border-radius: 25px;
}

#scoreboard {
	font-family: "Arial Black";
	padding-left:3px;
	padding-right:3px;
	padding-top:2px;
	padding-bottom:2px;
	background-color:black;
	width: 700px;
	height: 35px;
	margin-top: 900px;
	margin-left: 400px;
}
#player1 {
	margin-top:-17px;
	text-align:center;
	width:100px;
	height:31px;
	float:left;
	color:#fff;
	font-size:20px;
}
#score1{
	font-size:23px;
	color:black;
	text-align:center;
	background-color:yellow;
	padding: 12px;
	width: 80px;
	height: 15px;
	margin-left:65px;
	margin-top: -2px;
	float: left;
}
#score1 p, #score2 p{
	margin-top: -8px;
}
#turn p{
	margin-top:8px;
}
#player2{
	margin-top:-17px;
	text-align:center;
	width: 100px;
	height:31px;
	float:right;
	color:#fff;
	font-size:20px;

}
#score2{
	font-size:23px;
	color:black;
	text-align:center;
	background-color:yellow;
	padding: 12px;
	width: 80px;
	height: 15px;
	margin-right:65px;
	margin-top: -2px;
	float:right;
}
#turn{
	line-height: 1px;
	font-size:15px;
	text-align: center;
	margin-left:26px;
	float:left;
	height:35px;
	width:50px;
}

#arrow-left {
	margin-top:2px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 30px solid black;
	float:left;
}

#arrow-right {
	margin-top:2px;
	width: 0;
	height: 0px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right:30px solid black;
	float:right;
}

#speedmeter{
	background-color: yellow;
	width: 0px;
	height: 20px;
	margin-top: 850px;
	margin-left: 600px;
}
#speedborder{
	width: 300px;
	height: 20px;
	margin-top: 849px;
	margin-left: 599px;
	border: 1px solid #fff;
}
#pottedBalls{
	padding-left:3px;
	padding-right:3px;
	padding-top:2px;
	padding-bottom:2px;
	width: 700px;
	height: 20px;
	margin-top: 876px;
	margin-left: 400px;
}
.pottedLeft{
float:left;
}
.pottedRight{
float:right;
}

.striped-bg{
	width: 20px;
	height: 20px;
	background: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 35px;
}
.striped{
	margin-top: -14px;
	width: 20px;
	height: 8px;
	background: white;
	border-radius: 10px;
}

.solid{
	width: 20px;
	height: 20px;
	background: #000000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 35px;
}

