@charset "utf-8";
/* Style for the poolgame */
body{
	background-color:#026809;
	color:#fff;	
	overflow:hidden;
}

#gameContainer{
	position: relative;
	padding-right: 0;
	padding-top:29px;
	padding-left:160px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#gameCanvas, #overlay{
	position: absolute;
}

#gameCanvas {
	 padding-right: 0;
	 /*padding-top:29px;*/
	 margin-left: auto;
	 margin-right: auto;
	 display: block;
	 border: 1px solid black;
 }


.main {width:1517px;height:1126px;float:right;margin-right:5px;margin-top:-50px;
background-image:url(../img/background.png);}

.scoreboard{
	width:400px;
	height:800px;
	margin-top:109px;
	position:fixed;
	background-color:#079324;
	margin-left:50px;
}
h2 {
	color:#fff;
	margin-left:70px;
}
.scores{
	padding:20px;
}
.inner p {
	font-family:"Courier New", Courier, monospace;
	font-size:20px;
	font-style:oblique;
	
	}
.inner{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:16px;
	width:370px;
	height:720px;
	border:thin;
	border-color:#fff;
	border-style:dashed;
	margin:0 auto;

}

.logo{
	margin:0 auto;
	background-image:url(../img/logo.png);
	margin-top:50px;
	height:80px;
	width:433px;
}
.menu{position:fixed; padding-left:50px;}
.button{
	text-align:center;
	float:left;
	margin-left:8px;
	width:120px;
	height:50px;
	padding-top:20px;
	padding-bottom:10px;
	background-color:#090;
	color:#fff;	
	border: 2px dashed;
    border-radius: 25px;
}